/* Enhances the navbar look */
.navbar {
    background-color: #343a40; /* Darker shade for navbar */
    box-shadow: 0 2px 4px rgba(255,255,255,.1); /* Subtle shadow for depth */
}
  
/* Change the navbar brand styling */
.navbar-brand {
    background-color: #343a40; /* Consistent with the navbar */
    padding: 10px 15px;
    border-radius: 0.25rem;
    font-size: 1.5em;
    color: #ffffff; /* Ensures the brand text is white */
}
  
/* Navbar link styles */
.nav-link {
    color: #adb5bd; /* Lighter color for links for better visibility against dark background */
    transition: color 0.2s;
}
  
.nav-link:hover, .nav-link:focus {
    color: #ffffff; /* White color on hover and focus */
}
  
/* Active nav item */
.nav-item.active .nav-link {
    color: #ffc107; /* Yellowish color for the active page, ensures visibility */
}
  
/* Card styling for dark mode */
.card {
    margin-top: 1rem;
    background-color: #23272b; /* Dark background for cards */
    border: 1px solid #444; /* Slight border for definition */
    box-shadow: 0 4px 6px rgba(255,255,255,.1);
}
  
.card-header {
    background-color: #343a40;
    color: #ffffff;
    font-size: 1.25em;
}
  
.card-body {
    padding: 2rem;
    color: #adb5bd; /* Lighter text color for readability */
}
  
/* General body styling */
body.bg-light {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Ensures general text is light-colored for readability */
}
  
/* Image visualization box styling */
.viz-box {
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(255,255,255,.1);
}
  
.img-fluid {
    max-width: 100%;
    height: auto;
}
